# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build artifacts (EAS generates these fresh)
/ios
/android

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo

# git
.git

# misc
app-example
